.navbar{
  width: 100%;
}
.iconosearch{
  height: 20px;
}
.bg {
  /* The image used */
  background-image: url("https://i.pinimg.com/originals/71/b5/b4/71b5b4a0fa0e2d6788e057227a15771c.jpg");

  /* Full height */
  height: 200px;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  font-size: x-large;
}
.carousel{
  padding: 0;
  margin: 0;
}
.item{
  
  height: 400px;
  width: 100%;
  background-size: cover;
}
.futbol{
  background-image: url("img/futbol.jpg");
  background-position-y: 10%;
}
.basket{
  background-image: url("img/basket.jpg");
  background-position-y: 60%;
}
.tennis{
  background-image: url("img/tennis.jpeg");
  background-position-y: 40%;
}
